<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apexplanet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApexPlanet">

        <!-- Main launcher activity -->
        <activity android:name="com.example.apexplanet.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dashboard activity -->
        <activity android:name="com.example.apexplanet.DashboardActivity" />

        <!-- Profile activity -->
        <activity android:name="com.example.apexplanet.ProfileActivity" />

    </application>

</manifest>